{% extends "layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}

<span class="message">Контакты для связи</span>
<div class="blog-container">
    <div class="post">
        <div class="post-content">
            <div>


                <a href="https://t.me/aannnon">
                    <img src="https://pngicon.ru/file/uploads/telegram-128x128.png" alt="телеграмм"
                     width="64" height="64"></a>
                <a href="https://t.me/aannnon"> Telegram </a>
            </div>
            <div>
                <a href="https://github.com/nevermore228">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png?20180806170715"
                        alt="github" width="64" height="64"></a>
                <a href="https://github.com/nevermore228"> Github </a>


            </div>
        </div>
    </div>
</div>
{% endblock %}