{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<span class="message">Home page</span>

<div class="blog-container">
        {%if username %}
        <div class="create-post-form">
                <h3>Написать пост</h3>
                <form method="post">
                        <div class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                                <textarea name="content" placeholder="Enter text here" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
        </div>
        {% endif %}
        
        <div class="post-card">
                {% for post in posts %}
                <div class="post">
                        <h3>{{ post.title }}</h3>
                        <div class="post-meta">
                                <span class="author"> {{ post.author.username }} </span>
                                <span class="date"> {{ post.date.strftime('%d.%m.%Y %H:%M') }} </span>
                        </div>
                        <div class="post-content"> <p>{{ post.content }}</p> </div>
                </div>
                {% else %}
                <p>Постов нет! Создайте первый</p>
                {% endfor %}
        </div>
</div>
{% endblock %}