{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<span class="message"> Моя лента</span>
<div class="blog-container">

        <!-- Интерактивная кнопка  -->

        {%if username %}
        <a href="{{ '/?show_form=true' if not show_form else '/' }}" class="btn btn-primary">
                {{ 'Написать пост' if not show_form else 'Скрыть форму' }}</a>
        {% if show_form %}
        <form action="/posts" method="post" enctype="multipart/form-data">
                <h3> Написать пост </h3>
                <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Title" required>
                </div>
                <div class="form-group">
                        <textarea name="content" placeholder="Enter text here" required class="text-area"></textarea>
                </div>
                <div class="form-group">
                        <label>Add Images</label>
                        <input type="file" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        {% endif %}
        {% endif %}

        <div class="marginbottom"></div>

        <!-- Карточка с постами  -->

        <div>
                {% for post in posts %}
                <div class="post">
                        <h3>{{ post.title }}</h3>
                        <div class="post-meta">
                                <span class="author"> {{ post.author.username }} </span>
                                <span class="date"> {{ post.date.strftime('%d.%m.%Y %H:%M') }} </span>
                                {% if post.author.username == username %}
                                        <form action="/posts/{{post.id}}/delete" method="post">
                                                <button type="submit" class="btn"
                                                onclick="return confirm('Точно удалить?')">Удалить</button>
                                        </form>
                                {% endif %}
                        </div>
                        <div class="post-content">
                                <p>{{ post.content }}</p>
                                {% if post.image_path %}
                                <img src=" {{ post.image_path }}" alt="Post image" class="post-image">
                                {% endif %}
                                
                        </div>

                </div>
                {% else %}
                <p>Постов нет! Создайте первый</p>
                {% endfor %}
        </div>
</div>
{% endblock %}