<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', path='site.css')}}" />
        <link rel="icon" href="data:;base64,=">
    </head>
    
    <body>
        <div class="navbar">
            <a href="{{ url_for('get_home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('get_about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('get_contact') }}" class="navbar-item">Contact</a>
            {%  if request.cookies.get("username")  %}
            <a href="{{ url_for('get_account')}}" class="navbar-login">{{ username }}</a>
            {% else %}
            <a href="{{ url_for('post_login') }}" class="navbar-login">Sign In</a>
            {% endif %}
        </div>
        <hr/>

        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>
        <hr/>
        <footer>
            <p class="copyright">&copy; 2025</p>
        </footer>
    </body>
</html>
